
{{diagnostic}}
<div class="container">
    <h1>User Form!!!!</h1>
    <form (ngSubmit) = "onSubmit(userForm)" #userForm="ngForm">
        <label for="name">Name</label>
        <input type="text" id="name" required minlength="4" [(ngModel)]="model.name" name="name" #name="ngModel" #temp>
        {{temp.className}}
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required.
        </div>
        <button type="reset" (click)="newUser(); userForm.reset() ">New User</button>
        <button type="submit" >Submit</button> 
    </form>
</div>
